.footer{
    display: flex;
    position: fixed;
    bottom: 0;
    height: 65px;
    width:97%;
    background-color: #282828;
    padding: 20px;
    justify-content: space-between;
    color: white;
}

.footer_left{
    flex: 0.3;
}

.footer_center{
    flex: 0.4;
    padding: 0 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
}

.footer_right{
    flex: 0.3;
    display: flex;
    color: white;
    justify-content: space-between;
}

.footer_icon{

}

.footer_green{

}